  .text-card{
    margin: 100px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
  }
  .cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .item {
    flex-basis: 33.33%;
    height: 20px;
  }
